@media (min-width: 768px){
.mb-md-4 {
    margin-bottom: 0.5rem; 
    margin-top: 0.5rem;   
}
}
body {
    background-color: #000000;
}

.bg-transparent {
    background-color: rgb(red, green, rgba(0, 0, 0, 0));
}

.navbar {
    z-index: 2;
    padding-top: 0px;
    padding-bottom: 0px;
}

.btn-nav {
    border: none;
    box-shadow: none;
}
.btn-nav:hover{
    color: aliceblue;
}

.navbar-toggler:focus {
    box-shadow: none;
}
.navbar-img{
    width: 2rem;
    display: block;
    margin-left: 25px;

}

.bg-back {

    position: absolute;
    top: 0;
    z-index: 1;
}

.carousel-item img {
    height: 100vh;
}

#img1 {
    background-image: url("../assets/img\ \(1\).jpg");
    min-height: 100vh;
    min-width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#img2 {
    background-image: url("../assets/img\ \(2\).jpg");
    min-height: 100vh;
    min-width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#img3 {
    background-image: url("../assets/img\ \(3\).jpg");
    min-width: 100vw;
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-rgb {
    background-color: rgba(0, 0, 0, 0.363);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}

.item-lg {
    font-size: 70px;
}

.title {
    display: flex;
    font-size: 32px;
    margin-bottom: 30px;
}


.bg-banner {
    color: white;
    background-image: url("../assets/img\ \(3\).jpg");
    min-height: 160px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-banner p{
    background-color: #000000;
    margin: 12px;
    padding: 5%;
}

.item {
    font-size: 50px;
}

.inline {
    display: inline;
}

hr {
    max-width: 20%;
    color: grey;
    border: 1px solid;
}

.p50{
    max-width: 27%;
    margin-left: 35%;
}

.h50{
    min-height: 274px;
}

.h50:hover{
    border: black solid;
}

.bg-grey{
    background-color: #2a2a2a56;
}


.row{
    margin-left: 0;
    margin-right: 0;
}

/* pa lo del nav con un sticky https://www.youtube.com/watch?v=9PUDDRJY3_w */